#virtual_user_form
  %h2
    Thank You for sending Kudos!
  %p
    The recipient(s) you chose are not in our system yet, Would you like to tell us more about them?
  = form_tag '/virtual_users/update', :method => :post do
    - kudo.virtual_recipients.each do |virtual_user|
      %h3
        Form for: 
        = virtual_user.first_name
      %p 
        First Name:
        %br
        = text_field_tag "virtual_users[#{virtual_user.id}][first_name]"
      %p 
        Last Name:
        %br
        = text_field_tag "virtual_users[#{virtual_user.id}][last_name]"
      %p
        = submit_tag "Save Information", :id => 'virtual_users_submit'
        %a.close_virtual_user_form
          close
