= form_for @page, :url => @page.new_record? ? admin_pages_path : admin_page_path(@page) do |f|

  = error_messages_for @page

  %p.field
    = f.label :title
    %br/
    = f.text_field :title
  %p.field
    = f.label :slug
    %br/
    = f.select :slug, Page.slugs_for_select
  %p.field
    = f.label :locale
    %br/
    = f.select :locale, [["en", "en"], ["pl", "pl"]]
  %p.field
    = f.label :body
    = f.text_area :body, :cols => 80
  %p.actions
    = f.submit 'Save'
    = link_to t(:cancel), admin_pages_path, :class => 'action_link'