%h3 Listing pages

%table.type1
  %tr
    %th Title
    %th Slug
    %th Locale
    %th Body
    %th
    %th
    %th

  - @pages.each do |page|
    %tr
      %td= page.title
      %td= page.slug
      %td= page.locale
      %td= truncate strip_tags(page.body), :length => 300
      %td= link_to 'Show', page_path(page.slug)
      %td= link_to 'Edit', edit_admin_page_path(page)
      %td= link_to 'Destroy', admin_page_path(page), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Page', new_admin_page_path