#gift
  #gift_img
    %p
      = image_tag @gift.image.url(:standard)
  #gift_details
    %p
      %span{:class => "label"} 
        Name:
      = @gift.name
    %p
      %span{:class => "label"} 
        Gift Groups:
      %br
      - @gift.gift_groups.each do |gift|
        = gift.name
        %br
    %p
      %span{:class => "label"} 
        Link:
      = link_to "Affiliate Link", @gift.link, :target => "_blank"
    %p
      %span{:class => "label"} 
        Price:
      = number_to_currency(@gift.price)
    %p
      %span{:class => "label"} 
        Affiliate Program:
      = @gift.merchant.affiliate_program.name unless @gift.merchant.affiliate_program.nil?
    %p
      %span{:class => "label"} 
        Merchant:
      = @gift.merchant_name unless @gift.merchant.nil?
    %p
      %span{:class => "label"} 
        Affiliate Code:
      = @gift.affiliate_code
    %p
      %span{:class => "label"} 
        Active:
      = @gift.active ? "Active" : "Inactive"
  %div{:class => "clearing"}
  #gift_description
    %p
      %span{:class => "label"} 
        Description:
      = raw @gift.description

  = link_to 'Edit', edit_admin_gifting_gift_path(@gift)
  \|
  = link_to 'Back', admin_gifting_gifts_path
  - if @gift.merchant.affiliate_program && @gift.merchant.affiliate_program.name == "Commission Junction"
    |
    = link_to "Retrieve From Commission Junction", admin_gifting_commission_junction_update_path(@gift.id)

