%h2 Change my password
= form_for(current_user, :url => user_password_changes_path(current_user), :html => { :method => :post }) do |f|
  = error_messages_for current_user
  %p
    = f.label :password, "Password (minimum of 6 characters, use at least one non-alphabet character)"
    %br/
    = f.password_field :password
  %p
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  %p
    = f.submit "Change my password"
    = link_to 'cancel', user_path(current_user), :class => 'action_link'