%h3= t :listing_forbidden_passwords

= form_for @forbidden_password, :url => admin_forbidden_passwords_path, :method => :post do |f|

  = error_messages_for @forbidden_password

  = f.label :password
  = f.text_field :password
  = f.submit t(:forbidden_password_add_to_list)

%hr
%ul.admin_list
  - for pass in @passwords do
    %li
      = pass.to_s
      = link_to t(:remove), admin_forbidden_password_path(pass), :method => :delete, :confirm => I18n.t(:are_you_sure)