%ul#nav_admin

 - if current_user.has_role?(:admin)
  %li#apiclientsiteslink= link_to t(:api_client_sites), admin_sites_path
  %li#userslink= link_to t(:users_management), admin_users_path
  %li#roleslink= link_to t(:admin_roles), admin_roles_path
  %li#forbiddenpasswordslink= link_to t(:admin_forbidden_passwords), admin_forbidden_passwords_path
  %li#systemoptionslink= link_to t(:admin_system_options), admin_settings_path
  %li#kudocategorieslink= link_to t(:admin_kudo_categories), admin_kudo_categories_path
  %li#adminreportslink= link_to t(:admin_reports), admin_reports_path

 - if current_user.has_role?(:"kudo editor") || current_user.has_role?(:admin)
  %li#kudosflagslink= link_to t(:flagged_kudos), admin_kudo_flags_path

 - if current_user.has_role?(:"gift editor") || current_user.has_role?(:admin)
  %li#admingiftinglink>
   Gifting
   %ul#gifting_subnav.admin_subnav

    %li= link_to t(:affiliate_programs), admin_gifting_affiliate_programs_path
    %li= link_to t(:merchants), admin_gifting_merchants_path
    %li= link_to t(:gift_groups), admin_gifting_gift_groups_path
    %li= link_to t(:gifts), admin_gifting_gifts_path

