
- if current_user.has_role?(:admin)
  %ul#nav_admin
    %li#apiclientsiteslink= link_to t(:api_client_sites), admin_sites_path
    %li#userslink= link_to t(:users_management), admin_users_path
    %li#roleslink= link_to t(:admin_roles), admin_roles_path
    %li#forbiddenpasswordslink= link_to t(:admin_forbidden_passwords), admin_forbidden_passwords_path
    %li#systemoptionslink= link_to t(:admin_system_options), admin_settings_path
    %li#kudocategorieslink= link_to t(:admin_kudo_categories), admin_kudo_categories_path
    %li#adminreportslink= link_to t(:admin_reports), admin_reports_path
- if current_user.has_role?(:editor) || current_user.has_role?(:admin)
  %ul#nav_admin
    %li#adminreportslink= link_to t(:flagged_kudos), admin_kudo_flags_path
