!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p= t(:dear_user, :user => @email).html_safe

    %p= t :kudo_email_explanation, :author => @author

    %p= @kudo.kudo.body

    %p= t :community_join_explanation
    %p= link_to   t(:join_our_kudos_now), new_user_registration_url(:user => {:email => @email})

