!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body

    %p= t :kudo_commented_by, :by => @author.to_s

    %p
      %blockquote= @comment.comment

    %p= t(:you_can_deceide_what_to_do_with_this_and_other_comments)

    %ul
      %li= link_to t(:kudo_reject_comment), new_comments_moderation_url(:subaction => "reject", :id => @comment.id)
      %li= link_to t(:kudo_reject_comment_abusive), new_comments_moderation_url(:subaction => "block_sender", :id => @comment.id)

    %p= t :block_moderation_message
    %ul
      %li= link_to t(:kudo_email_no_moderation),
                                            new_comments_moderation_url(:subaction => "no_moderation", :id => @comment.id)

      %li= link_to t(:kudo_disable_commenting), new_comments_moderation_url(:subaction => "no_commenting", :id => @comment.id)