.business_card_popup{:id => "business_card_#{kudo.id}", :class => "hidden" }>
  - author = kudo.author

  .close-link
    = link_to "x", 'javascript:void(0)', :class => "close_business_card_link", :id => kudo.id

  .avatar= image_tag author.current_profile_picture(:medium), :width => 75, :height => 75
  .name= author.to_s
  .city= author.city
  .demographics= author.demographics


  = link_to "Send Kudo to this person", "javascript:void(0)", :class => "send_kudo_link", :id => author.id

