#kudo_send_header
 %h1= t(:send_kudos)

= form_for @kudo, :url => user_kudos_path(current_user, @kudo), :html => {:id => 'kudo_send_form'} do |f|

 #error_container
  = error_messages_for @kudo
 #kudo_send_col_left
  = f.label :body, t(:kudo_your_message)

  #kudo_message_cont
   #kudo_message_cont_top
   #kudo_message_cont_mid
    = f.text_area :body,  { :placeholder=> 'write something positive', :id => 'kudo_message_textarea' }
   #kudo_message_cont_bot

  %p
   = f.label :kudo_category_id, "Type of Kudo"
   = f.select(:kudo_category_id, options_for_select(KudoCategory.collection_for_kudo_form), {:prompt => "Select a Category..."}, :class => "full-width-select" )

 #kudo_send_col_right
  - unless social_sharing_enabled?
   %p.notice= t(:kudos_sharing_disabled)
  %p
   = f.label :to, t(:send_to)
   %br/
   = f.text_field :to, {:class => "kudo_recipient_list"}

  %p
   = label_tag 'kudo_gift', 'Send Gift?'
   %br/
   = check_box 'kudo_gift', ''

  %p
   = label_tag 'share_scope','Who would you like to share with?'
   %br/
   = f.radio_button :share_scope, nil, :class => "share-scope"
   = f.label :share_scope, 'The world'

   = f.radio_button :share_scope, 'friends', :class => "share-scope"
   = f.label :share_scope, 'Friends only'

   = f.radio_button :share_scope, 'recipient', :class => "share-scope"
   = f.label :share_scope, 'Recipient only'

   = hidden_field_tag "author_id", current_user.id
 #kudo_send_submit_region
  %span#social_share_choices
   = f.label :social_sharing, t(:kudo_share_on)
	 
   = f.check_box :facebook_sharing, {"data-connected" => current_user.connected_with_facebook?, :class => "kudo-facebook-share" }
   = label_tag 'social_sharing', image_tag('facebook_icon.png') + 'facebook'

   = f.check_box :twitter_sharing, {"data-connected" => current_user.connected_with_twitter?, :class => "kudo-twitter-share" }
   = label_tag 'social_sharing', image_tag('twitter_icon.png') + 'twitter'
  %button#kudo_send_submit_button{:type => "submit"}
   = image_tag('kudo_send_button.png')
