.kudo_message_cont
  - if kudo.author
    = profile_picture_for(kudo.author)
  - else
    = anon_picture
  .kudo_message_bubble_cont
    .kudo_message_top
    .kudo_message_mid
      %p
        %span.sender= kudo.author.to_s
        %span.greater_than >
        %span.receiver= kudo.recipients_readable_list
      %p= kudo.body
      .social_buttons
        .google_plus
          %g:plusone
        .facebook_like
          %fb:like{:href => "#{kudo_url(kudo)}", :send => "false", :layout => "button_count", :width => "100", :show_faces => "false", :font => "trebuchet ms"}
    .kudo_message_bot
  .clearing
