.kudo_message_cont
  - if kudo.author
    = profile_picture_for(kudo.author)
  - else
    = anon_picture
  .kudo_message_bubble_cont
    .kudo_message_top
    .kudo_message_mid
      %p
        %span.sender= kudo.author.to_s
        %span.greater_than >
        %span.receiver= kudo.recipients_readable_list
      %p= kudo.body
      #social_buttons
        #div{:id => "google_plus_#{kudo.id}"}
        #div{:id => "facebook_like_#{kudo.id}"}
          %a{:href=>"/", :name => kudo.id}
            Share This Kudo
      .clearing

    .kudo_message_bot
  .clearing
