.kudo_message_cont
  .avatar_cont
    - if kudo.author
      = link_to profile_picture_for(kudo.author), user_profile_path(kudo.author.id)
    - else
      = anon_picture
    
    .sender
      - if kudo.author
        = link_to kudo.author.to_s, user_profile_path(kudo.author.id)
      - else
        (removed account)
          
  .kudo_message_bubble_cont{"data-id" => kudo.id, "data-scope" => kudo.share_scope }
    .kudo_message_bubble_nipple
    
    %p
      
      %span.greater_than &gt;&gt;
      %span.receiver
        - if kudo.is_a?(Kudo)
          = kudo.recipients_readable_list
        - else
          = kudo.recipient.to_s
    %p.kudo_body_text= kudo.body
    .social_buttons
      %div{:id => "google_plus_#{kudo.id}", :class => "plusone_button"}
      %div{:id => "facebook_like_#{kudo.id}", :class => "facebook_like"}
    .clearing

  .clearing
