.kudo_message_cont
  .avatar_cont
    - if kudo.author
      = link_to profile_picture_for(kudo.author), user_profile_path(kudo.author.id)
    - else
      = anon_picture
    
    .sender
      -# This code launches one additional query per each shown kudo
      - if kudo.author
        = link_to kudo.author.secured_name, user_profile_path(kudo.author.id)
      - else
        (removed account)

  .kudo_message_bubble_cont{"data-id" => kudo.id, "data-scope" => kudo.share_scope }
    .kudo_message_bubble_nipple
    
    %p
      
      %span.greater_than &gt;&gt;
      %span.receiver
        - if kudo.is_a?(Kudo)
          = kudo.recipients_readable_list
        - else
          = kudo.recipient.to_s
    .clearing
    - unless kudo.attachment.blank?
      .kudo_body_attachment
        %p
          = link_to image_tag(kudo.attachment.attachment(:thumb)), card_url(kudo.attachment.id), :target => "_blank"
    .kudo_body_text= simple_format(truncate_kudo_text(kudo.body))
    .clearing

  .clearing
