.kudo_message_cont
  - if kudo.author
    = link_to profile_picture_for(kudo.author), user_profile_path(kudo.author)
  - else
    = anon_picture
  .kudo_message_bubble_cont
    .kudo_message_top
    .kudo_message_mid{"data-id" => kudo.id, "data-scope" => kudo.share_scope }
      %p
        %span.sender= link_to kudo.author.to_s, user_profile_path(kudo.author)
        %span.greater_than >
        %span.receiver= kudo.recipients_readable_list
      %p= kudo.body
      .social_buttons
        %div{:id => "google_plus_#{kudo.id}", :class => "plusone_button"}
        %div{:id => "facebook_like_#{kudo.id}", :class => "facebook_like"}
      .clearing

    .kudo_message_bot
  .clearing
