.invitation-form-fields.hidden
 = form_for(@user, :html => { :honeypot => true }, :url    => registration_path(@user, :format => :js),
                                                      :method => :post,
                                                      :remote => true) do |f|

  .error_container

  = render :partial => "registrations/form_fields_no_email", :locals => {:f => f}

  = hidden_field_tag "user[email]", @kudo.email
  = hidden_field_tag "user[first_message]", nil, :class => "first_message"
  = hidden_field_tag "user[base]", nil
  = hidden_field_tag "author_id", @kudo.kudo.author_id