.kudo_message_cont
  .avatar_cont
    %p= kudo_author_picture kudo
    .sender= kudo.author.to_s
  .kudo_message_bubble_cont
    .kudo_message_bubble_nipple

    %p{:id => kudo.id, :class => "data-key"}
      %span.receiver= email
      %span.category= "[#{kudo.category}]"
    .kudo_body_text
      = simple_format(kudo.body)

  .clearing

= render :partial => "kudos/invitation_kudo_reply"