.kudo_message_cont{:id => "kudo_message_id_#{kudo.id}"}
 = image_tag('avatar_unknown.png', :class => 'avatar')
 .kudo_message_bubble_cont
  .kudo_message_top
  .kudo_message_mid
   .kudo_message_text_cont

    %p{:id => "kudo_#{kudo.id}"}
     %span.category= kudo.category
     %span.sender= kudo.author.to_s
     %span.greater_than &gt;
     %span.receiver
      = kudo.recipient.to_s
    %p= kudo.body

   .kudo_flag_cont.clickable{"data-id" => kudo.id, :class => kudo_flag_type(kudo) }

   %div= link_to('', user_kudo_path(current_user, kudo), :method => :delete, :confirm => I18n.t(:are_you_sure), :class => "delete_kudo_btn")

   .popup_placeholder{:id => "flag_popup_placeholder_#{kudo.id}"}
   .clearing
  .kudo_message_bot
 .clearing