.kudo_message_cont{:id => "kudo_message_id_#{kudo.kudo.id}"}
 - if kudo.author
  = profile_picture_for(kudo.author)
 - else
  = anon_picture
 .kudo_message_bubble_cont
  .kudo_message_top
  .kudo_message_mid
   .kudo_message_text_cont

    %p{:id => "kudo_#{kudo.id}"}
     %span.category= kudo.category
     %span.sender= kudo.author.to_s
     %span.greater_than &gt;
     %span.receiver
      = kudo.recipient.to_s
    %p= kudo.body

   - unless kudo_object(kudo).has_been_improperly_flagged?
    .kudo_flag_cont.kf_dimmed.clickable{"data-id" => kudo.kudo.id }
   %div= link_to('', user_kudo_path(current_user, kudo), :method => :delete, :confirm => I18n.t(:are_you_sure), :class => "delete_kudo_btn")

   .popup_placeholder{:id => "flag_popup_placeholder_#{kudo.kudo.id}"}
   .clearing
  .kudo_message_bot
 .clearing