- kudo_id = kudo.kudo.id
.kudo_message_cont{:id => "kudo_message_id_#{kudo_id}"}
 .avatar_cont
  - if kudo.author
   = link_to profile_picture_for(kudo.author), user_profile_path(kudo.author), :id => kudo_object(kudo).id
  - else
   = anon_picture
  .sender= link_to kudo.author.secured_name, user_profile_path(kudo.author),:id => kudo_object(kudo) if kudo.author
  
 .kudo_message_bubble_cont{"data-id" => kudo.id, "data-scope" => kudo.share_scope }
  .kudo_message_bubble_nipple
  .kudo_message_text_cont
   .kudo_side_controls
    - unless kudo_object(kudo).has_been_improperly_flagged?
     .kudo_flag_cont.kf_dimmed.clickable{"data-id" => kudo.kudo.id, "title" => I18n.t(:click_here_to_flag_this_kudo) }
    %div= link_to('', user_kudo_path(current_user, kudo), :method => :delete, :confirm => I18n.t(:are_you_sure_you_want_to_delete), :class => "delete_kudo_btn", :title => I18n.t(:click_here_to_delete_this_kudo) )
   
   
   %p.recipients_cont{:id => "kudo_#{kudo.id}"}
   
    %span.greater_than &gt;&gt;

    %span.receiver
     - if kudo.recipient
      = link_to kudo.recipient.secured_name, user_profile_path(kudo.recipient)
     - else
      "unknown recipient(s)"
    
   %p.sharescope_date
    %span.category= "[#{kudo.category}]"
    %span.share_scope
     = "Shared with #{shared_with kudo.share_scope}"
    %span.kudo_date
     /= kudo.created_at.to_s(:short)
     = kudo.created_at.strftime("%d %b %I:%M%p")
   .social_buttons
    %div{:id => "google_plus_#{kudo.id}", :class => "plusone_button"}
    %div{:id => "facebook_like_#{kudo.id}", :class => "facebook_like"}
    
   .clearing
   - unless kudo.attachment.blank?
    .kudo_body_attachment
     %p
      = link_to image_tag(kudo.attachment.attachment(:thumb)), card_url(kudo.attachment.id)
   .kudo_body_text= simple_format(kudo.body)
   .kudo_body_text= simple_format(kudo.body)

   

   .popup_placeholder{:id => "flag_popup_placeholder_#{kudo_id}"}
   .clearing
   .kudo_comment
    - unless kudo.kudo.comments_disabled?
     = link_to t(:kudo_add_comment), 'javascript:void(0)', :class  => "comment_form_toggle",
                                                :id     => kudo_object(kudo).id,
                                                :remote => true
    &nbsp;
    = "(#{kudo.comments_count})" if kudo.comments_count > 0
   
   .clearing
    
   = render :partial => "comments/comment",    :locals => {:kudo => kudo_object(kudo) }
   // render :partial => "kudos/business_card", :locals => {:kudo => kudo_object(kudo) }
   
 .clearing
:javascript
  $(function(){

  })
  var reply = $.getQueryString("reply")

  if (reply === "true" && $.getQueryString("kudo_id") === "#{kudo.id}") {
    showCommentForm("#{kudo_id}");
    $("#textarea_#{kudo_id}").setCursorPosition(0);
  }
