.kudo_message_cont{:id => "kudo_message_id_#{kudo.id}"}
 = kudo_author_picture kudo
 .kudo_message_bubble_cont
  .kudo_message_top
  .kudo_message_mid
   .kudo_message_text_cont
    %p
     %span.category= kudo.category
     %span.sender= kudo.author.to_s
     %span.greater_than &gt;
     %span.receiver
      = kudo.recipients_readable_list
    %p= kudo.body

    
   - unless kudo_object(kudo).has_been_improperly_flagged?
    .kudo_flag_cont.kf_dimmed.clickable{"data-id" => kudo.id }

   %div= sent_kudo_destroy_link(kudo)

   .popup_placeholder{:id => "flag_popup_placeholder_#{kudo.id}"}
   .social_buttons
    .google_plus
     %g:plusone
    .facebook_like
     %fb:like{:href => "", :send => "false", :layout => "button_count", :width => "100", :show_faces => "false", :font => "trebuchet ms"}

    .kudo_comment
     - unless kudo.comments_disabled?
      = link_to t(:kudo_comment), '#', :class   => "action_link comment_form_toggle",
                                                        :id     => kudo.id,
                                                        :remote => true

   = render :partial => "comments/comment", :locals => {:kudo => kudo}
   .clearing
  .kudo_message_bot
 .clearing
