.kudo_message_cont{:id => "kudo_message_id_#{kudo.id}"}
 = image_tag(kudo.author.current_profile_picture, :class=>'avatar')
 .kudo_message_bubble_cont
  .kudo_message_top
  .kudo_message_mid
   .kudo_message_text_cont
    %p
     %span.category= kudo.category
     %span.sender= kudo.author.to_s
     %span.greater_than &gt;
     %span.receiver
      = kudo.recipients_readable_list
    %p= kudo.body

   - unless kudo_object(kudo).has_been_improperly_flagged?
    .kudo_flag_cont.kf_dimmed.clickable{"data-id" => kudo.id }

   -if kudo.can_be_deleted_by?(current_user)

    %div= link_to('', destroy_sent_user_kudo_path(current_user, kudo),
                                :method => :delete,
                                :confirm => I18n.t(:are_you_sure),
                                :class => "delete_kudo_btn")

   .popup_placeholder{:id => "flag_popup_placeholder_#{kudo.id}"}

   .clearing
  .kudo_message_bot
 .clearing