- content_for(:title) { "OurKudos #{@kudo.body}" }
- content_for(:meta_description) { "OurKudos #{@kudo.body}" }
- content_for(:metaog_url) { kudo_url(@kudo.id) }
- content_for(:metaog_title) { open_graphic_title @kudo }

- unless @kudo.attachment.blank?
  #kudo_card
    = image_tag @kudo.attachment.attachment
= render 'home_page_kudo', :kudo => @kudo

- unless current_user
  %p= #image_tag('kudos_hugging.png')
  %p= #link_to image_tag('join_now_button.png', :alt=>"Join Ourkudos now!"), new_user_registration_path unless sign_up_disabled?
  - # commenting this out until a design is created, this keeps consistency between registered and unregistered users viewing this
