= form_for @user, :method => :put do |f|
  = error_messages_for @user
  %p
    = f.label :streetadress, t(:streetadress)
    %br
    = f.text_field :streetadress
  %p
    = f.label :address2, t(:adress2)
    %br
    = f.text_field :address2
  %p
    = f.label :city, t(:city_town)
    %br
    = f.text_field :city
  %p
    = f.label :state_or_province, t(:state_or_province)
    %br
    = f.text_field :state_or_province
  %p
    = f.label :postal_code, t(:postal_code)
    %br
    = f.text_field :postal_code
  %p
    = f.label :phone_number, t(:phone_number)
    %br
    = f.text_field :phone_number
  %p
    = f.label :mobile_number, t(:mobile_number)
    %br
    = f.text_field :mobile_number
  %p
    = f.submit t(:update_my_info)
