%h2= t(:edit_personal_information)
= form_for @user, :method => :put do |f|
  = error_messages_for @user
  %p
    = f.label :streetadress, t(:streetadress)
    %br
    = f.text_field :streetadress
  %p
    = f.label :address2, t(:adress2)
    %br
    = f.text_field :address2
  %p
    = f.label :city, t(:city_town)
    %br
    = f.text_field :city
  %p
    = f.label :state_or_province, t(:state_or_province)
    %br
    = f.text_field :state_or_province
  %p
    = f.label :postal_code, t(:postal_code)
    %br
    = f.text_field :postal_code
  %p
    = f.label :phone_number, t(:phone_number)
    %br
    = f.text_field :phone_number
  %p
    = f.label :mobile_number, t(:mobile_number)
    %br
    = f.text_field :mobile_number
  %p
    = f.label :birthday, t(:birthday)
    %br
    = f.date_select :birthday, :start_year => 1910, :end_year => Time.now.year, :prompt => true
  %p
    = f.check_box :hide_birth_year
    = f.label :hide_birth_year, t(:dont_show_birth_year_on_public_profile)
  %p
    = f.submit t(:update_my_info)
    = link_to 'cancel', user_path(current_user), :class => 'action_link'
