%h3= t :my_account_settings

%h4= t :my_authorizations

- unless @authentications.blank?
    
  = render :partial => "authentications/authentications"
    
- else
    
  %strong= t :no_authorizations_yet

= render :partial => "identities/index", :locals => {:identities => @identities }
  
%p
  = link_to t(:add_new_authorization), new_user_authentication_path(current_user)
  |
  = link_to t(:add_new_identity), new_user_identity_path(current_user)