%h2= t :my_account_settings

.userprofile_col_left
  
  %h3= t :personal_info
  
  %p.note= t :privacy_blurb
  
  %p
    = label_tag(:first_name, 'First Name')
    %span.datavalue= current_user.first_name
    %br
  %p   
    = label_tag(:last_name, 'Last Name')
    %span.datavalue= current_user.last_name
    %br
  %p
    = label_tag(:streetadress, 'Street Address')
    %span.datavalue= current_user.streetadress
    %br
  %p
    = label_tag(:address2, 'Address 2')
    %span.datavalue= current_user.address2
    %br
  %p
    = label_tag(:postal_code, 'Postal/Zip Code')
    %span.datavalue= current_user.postal_code
    %br
  %p
    = label_tag(:city, 'City/Town')
    %span.datavalue= current_user.city
    %br
  %p
    = label_tag(:state_or_province, 'State/Province')
    %span.datavalue= current_user.state_or_province
    %br
  %p
    = label_tag(:phone_number, 'Home phone')
    %span.datavalue= number_to_phone current_user.phone_number
    %br
  %p
    = label_tag(:mobile_number, 'Mobile phone')
    %span.datavalue= number_to_phone current_user.mobile_number
    %br
  %p
    = label_tag(:birthday,'Birthday')
    %span.datavalue
      = l(current_user.birthday, :format => :long) unless current_user.birthday.blank?
      = '(birth year hidden)' if current_user.hide_birth_year
    %br
   
  
   
  %p.clearing
    = link_to t(:edit_personal_info), edit_user_path, :class => "action_link"
  
  %h3= t :messaging_preferences
  
  %h4= t :email_notifications
  %p
    %span.datavalue=  t :get_an_email_whenever_you_receive_kudos
  %p
    %span.datavalue= t(:receive_a_weekly_summary_of_kudos_in_your_community)
  /%p
  /  %span.datavalue= t(:allow_businesses_that_youve_sent_kudos_to_to_notify_you_of_specials)
  /%p
  /  %span.datavalue= t(:allow_other_businesses_in_your_area_to_notify_you_of_specials)
  
  /%h4= t :mobile_phone_notifications
  /%p
  /  %span.datavalue= t(:get_your_kudos_via_text_message)
  
  %h4= t :facebook_and_twitter_defaults
  %p
    %span.datavalue= t(:post_kudos_you_send_to_your_facebook_wall)
  %p
    %span.datavalue= t(:tweet_kudos_you_send)
  
  %h4= t :kudos_scope_default
  %p
    %span.datavalue= t(:show_kudos_to_the_world_by_default)
  
  
  %p
    = link_to t(:edit_messaging_prefs), '/', :class => "action_link"
    |
    = link_to t(:manage_blocked_senders_list), '/', :class => "action_link"
    |
    = link_to t(:change_my_password), new_user_password_change_path(current_user), :class => "action_link"
  
  
  %h3= t :authentications

  %p.note
    = t :you_can_authenticate_using_following_methods
  
  %p
    = show_authentication_status 'facebook'
    = show_authentication_status 'twitter'
  
  %p
    = t :you_can_always_authenticate_with_ourkudos
  
  %p= render :partial => "identities/index", :locals => {:identities => @identities }
  
  %p
    = link_to t(:add_new_identity), new_user_identity_path(current_user), :class=>'action_link'
    |
    = link_to t(:merge_with_my_other_account), new_merge_path, :class=>'action_link'
    |
    = link_to t(:show_my_friends), friendships_show_path, :class => "action_link"
    |
    = link_to t(:show_my_facebook_friends), user_facebook_friends_path(current_user), :class => "action_link"  if current_user.connected_with_facebook?

.userprofile_col_right
  %h3= t :profile_picture
  %p.note= t :you_can_reorder_avatars_to_select
  
  %p= render 'profile_pictures/sorting'

  %p= link_to t(:upload_new_profile_picture), new_user_profile_picture_path(current_user), :class => "action_link"

  - if current_user.has_profile_picture?
    %p= link_to(t(:remove_my_uploaded_picture), user_profile_picture_path(current_user), :class => "action_link", :method => :delete, :confirm => I18n.t(:are_you_sure))


  %h3= t :gender
  %p
    %span.datavalue= current_user.gender

  %h3= t :image_storage
  %p.note= t :you_can_upload_images_to_your_storage_and_use_them_later_when_sending_kudo

  %p= link_to t(:upload_new_image),     new_user_picture_path(current_user), :class => "action_link"
  %p= link_to t(:your_uploaded_images), user_pictures_path(current_user),    :class => "action_link"
