%h2= t :my_account_settings

.userprofile_col_left

  %h3= t :personal_info
  %p
    %span.alignleft
      = label_tag(:first_name, 'First Name')
      = current_user.first_name
    %span.alignright
      = label_tag(:last_name, 'Last Name')
      = current_user.last_name
  %p
    = label_tag(:streetadress, 'Street Address')
    = current_user.streetadress
  
  %p
    = label_tag(:postal_code, 'Postal/Zip Code')
    = current_user.postal_code
  
  %p
    %span.alignleft
      = label_tag(:city, 'City/Town')
      = current_user.city
    %span.alignright
      = label_tag(:state_or_province, 'State/Province')
      = current_user.state_or_province
  
  %p
    %span.alignleft
      = label_tag(:phone_number, 'Home phone')
      = current_user.phone_number
    %span.alignright
      = label_tag(:mobile_number, 'Mobile phone')
      = current_user.mobile_number
   
  %p
    = label_tag(:about_me,'About me')
   
  %p
    = label_tag(:birthday,'Birthday')
    = current_user.birthday
   
  %p= t :privacy_blurb
   
  %p.clearing
    = link_to t(:edit_personal_info), edit_user_path, :class => "action_link"
  
  %h3= t :messaging_preferences
  
  %h4= t :email_notifications
  %p
    = label_tag(:get_an_email_whenever_you_receive_kudos)
  %p
    = label_tag(:receive_a_weekly_summary_of_kudos_in_your_community)
  %p
    = label_tag(:allow_businesses_that_youve_sent_kudos_to_to_notify_you_of_specials)
  %p
    = label_tag(:allow_other_businesses_in_your_area_to_notify_you_of_specials)
  
  %h4= t :mobile_phone_notifications
  %p
    = label_tag(:get_your_kudos_via_text_message)
  
  %h4= t :facebook_and_twitter_defaults
  %p
    = label_tag(:post_kudos_you_send_to_your_facebook_wall)
  %p
    = label_tag(:tweet_kudos_you_send)
  
  %h4= t :kudos_scope_default
  %p
    = label_tag(:show_kudos_to_the_world_by_default)
  
  
  %p.clearing
    = link_to t(:edit_messaging_prefs), '/', :class => "action_link"
    |
    = link_to t(:manage_blocked_senders_list), '/', :class => "action_link"
  
  
  %h3= t :authentications
      
  %p
    = t :you_can_authenticate_using_following_methods
  
  %p
    = show_authentication_status 'facebook'
    = show_authentication_status 'twitter'
  
  %p
    = t :you_can_always_authenticate_with_ourkudos
  
  %p= render :partial => "identities/index", :locals => {:identities => @identities }
  
  %p
    = link_to t(:add_new_identity), new_user_identity_path(current_user), :class=>'action_link'
    |
    = link_to t(:merge_with_my_other_account), new_merge_path, :class=>'action_link'
    |
    = link_to t(:show_my_friends), friendships_show_path, :class => "action_link"
    |
    = link_to t(:show_my_facebook_friends), user_facebook_friends_path(current_user), :class => "action_link"  if current_user.connected_with_facebook?

.userprofile_col_right
  %h3= t :profile_picture
  %p= link_to t(:upload_new_profile_picture), '/', :class => "action_link"
  
  %h3= t :gender
  %p= current_user.gender