= form_for @user, :url => twitter_email_update_path(:user => @user.attributes) do |f|
  
  = error_messages_for @user
  
  %p.user-field
    = f.label :email, t(:in_order_to_sign_in_please_provide_your_twitter_email)
    %br/
    = f.text_field :email
    
  = f.submit "OK"
  