#header
  = render 'shared/unregistered_header'
  
#main_top
#main
  .wrapper-main
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      %h2 Forgot your password?
      = devise_error_messages!
      %p
        = f.label :email, 'E-mail Address'
        %br/
        = f.text_field :email
      %p= f.submit "Send me reset password instructions"

  #footer
    = render 'shared/footer'