%p
  = f.label :email
  %br/

  - if email_present?
    = f.text_field :email, :class => "string", :disabled => true
    = f.hidden_field :email
  - else
    = f.text_field :email, :class => "string"
.clearing

= render :partial => "form_fields_no_email", :locals => {:f => f}