%span#base
%p
  = f.label :password, "Password (minimum of 6 characters, use at least one non-alphabet character)"
  %br/
  %span#password
  = f.password_field :password, :class => "password", :id => "signup_user_password"
  .clearing
%p
  = f.label :password_confirmation
  %br/
  = f.password_field :password_confirmation, :class => "password"
  %span#password_confirmation
%p
  = f.label :first_name
  %br/
  = f.text_field :first_name, :class => "string"
  %span#first_name
%p
  = f.label :last_name
  %br/
  = f.text_field :last_name,  :class => "string"
  %span#last_name
= render :partial => "registrations/terms_of_service", :locals => {:f => f}
