%span#base
- unless company_sign_up?

  %p
    = f.label :first_name
    %br/
    = f.text_field :first_name, :class => "string"
    %span#first_name
  %p
    = f.label :last_name
    %br/
    = f.text_field :last_name,  :class => "string"
    %span#last_name
%p
  = f.label :password, "Password (minimum of 6 characters, use at least one non-alphabet character)"
  %br/
  %span#password
  = f.password_field :password, :class => "password", :id => "signup_user_password"
  .clearing
  
%p
  = f.label :postal_code, "Zip or Postal Code (Why do we need this?)", :title => 'We use this so that we can show you Kudos in your area.'
  %br/
  %span#postal_code
  = f.text_field :postal_code

= f.hidden_field :tos, :value => '1'

