%p
  = f.label :email
  %br/
  = f.text_field :email, :class => "string"
%p
  = f.label :password, "Password (minimum of 6 characters, use at least one non-alphabet character)"
  %br/
  = f.password_field :password, :class => "password", :id => "signup_user_password"
  .clearing
%p
  = f.label :password_confirmation
  %br/
  = f.password_field :password_confirmation, :class => "password"  
%p
  = f.label :first_name
  %br/
  = f.text_field :first_name, :class => "string"
%p
  = f.label :last_name
  %br/
  = f.text_field :last_name,  :class => "string"
