.wrapper-main	
  = form_for(resource, :as => resource_name, :html => { :honeypot => true },
                                             :url => registration_path(resource_name)) do |f|
    %h2 Create a new OurKudos Account
    = error_messages_for @user
  
    = render :partial => "form_fields", :locals => {:f => f}
    = hidden_field_tag :autofill, params[:autofill]
    
    %p= f.submit "Sign up"
    %p -OR-
    %p= link_to image_tag('sign-up-with-facebook-btn.png'), omniauth_authorize_path(:user, 'facebook')

