= form_for(resource, :as => resource_name, :html => { :honeypot => true },
                                           :url => registration_path(resource_name)) do |f|
  %h2 Create a new OurKudos Account
  = error_messages_for @user
  %p= sign_up_link
  - if company_sign_up?
    %p
      = f.label :company_name
      %br/
      = f.text_field :company_name

  = hidden_field_tag :company, params[:company]
  = render :partial => "form_fields", :locals => {:f => f}

  = hidden_field_tag :autofill, params[:autofill]
  = hidden_field_tag :kudo_key, cookies[:kudo_key]

  = hidden_field_tag "user[first_message]", cookies[:response], :class => "first_message"
  
  %button{ :type => "submit", :id => "new_registration_submit_btn" }
    = image_tag 'sign-up-btn.png', :alt => "sign up"
  %p - OR -
  %p= link_to image_tag('sign-up-with-facebook-btn.png'), omniauth_authorize_path(:user, 'facebook')

  %p
    By clicking "Sign up" or "Sign-up with Facebook" you confirm that you accept the
    = link_to "Terms of Service", page_path(:id => "terms-of-service"), :target => "_blank"