%h2 Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  
  = render :partial => "form_fields", :locals => {:f => f}
  = hidden_field_tag :autofill, params[:autofill]
    
  %p= f.submit "Sign up"
  
= render :partial => "devise/shared/links"
