= paginate @kudo_flags

%h3= t :listing_all_kudos_flagged_by_users
%hr
= form_tag flag_admin_kudo_flags_path, :method => :put do
  %table.admin_type1
    %thead
      %th= sortable "kudo_flags.flag_reason", t(:kf_admin_flag_reason)
      %th= sortable "users.last_name",        t(:kf_flagger_name)
      %th= sortable "kudos.body",             t(:kf_flagged_body)
      %th= sortable "kudo_flags.created_at",  I18n.t(:kf_flagged_at)
      %th= t(:flag_valid)
    %tbody
      - for flag in @kudo_flags do
        %tr{:id => "kudo_flag_#{flag.id}"}
          %td= flag.flag_reason
          %td= kudo_flag_path_user_info flag.flagger
          %td= flag.flagged_kudo.body rescue nil
          %td= flag.created_at.strftime("%d-%m-%Y %I:%M:%S")
          %td= render :partial => 'flag_accept_form', :locals => {:flag => flag}

  = submit_tag t :accept_reject_selected_flags if @kudo_flags.any?

= link_to t :reset_this_form, :type => "button", :onclick => "document.forms.first.reset()" if @kudo_flags.any?

= paginate @kudo_flags