%ul#nav_footer
  %li
    = link_to('About Us', page_path(:id => 'about-us'))
  %li
    = link_to('Support','/support')
  %li
    = link_to('Privacy',page_path(:id => 'privacy-policy'))
  %li
    = link_to('Blog','http://okcheers.com')
  %li
    = link_to('Contact', page_path(:id => "contact-us"))
  %li#footer_separator
    = image_tag('footer_separator.png')
  %li
    Follow us on
    = link_to(image_tag('facebook_icon.png'),'http://www.facebook.com/ourkudos')
    = link_to(image_tag('twitter_icon.png'),'http://www.twitter.com/ourkudos')

%span#footer_copyright
  copyright &copy;
  = Time.now.year
  Our Kudos Inc.