%ul#nav_footer
  %li
    = link_to('About Us','/about')
  %li
    = link_to('Support','/support')
  %li
    = link_to('Privacy','/privacy')
  %li
    = link_to('Blog','http://ourkudos.org')
  %li
    = link_to('Contact','/contact')
  %li#footer_separator
    = image_tag('footer_separator.png')
  %li
    Follow us on
    = link_to(image_tag('facebook_icon.png'),'http://www.facebook.com/ourkudos')
    = link_to(image_tag('twitter_icon.png'),'http://www.twitter.com/ourkudos')

%p#footer_copyright
  copyright &copy;
  = Time.now.year
  OurKudos LLC