#kudo_dashboard_cont
  #kudo_dashboard_top{:class => kudos_current_class_for_tab }
    %ul#nav_kudo_dashboard
      %li
        %h2= link_to 'News Feed',   home_path(:kudos => "newsfeed"), :class => kudos_current_class_for_link('newsfeed')
      %li
        %h2= link_to 'Sent',     home_path(:kudos =>'sent'),      :class => kudos_current_class_for_link('sent')
      %li
        %h2= link_to 'Received', home_path(:kudos => "received"), :class => kudos_current_class_for_link('received')
      //%li
      //  %h2= link_to 'Local',   home_path(:kudos => "local"), :class => kudos_current_class_for_link('local')
  #kudo_dashboard_mid
    #kudo_dashboard_search_cont
      = form_tag do
        %p#kudos_sortby_cont
          = label_tag(:sortby,'Sort by')
          %br/
          = select_tag(:sortby)
        %p#kudos_search_cont
          = text_field_tag(:searchterms,'',:placeholder=> 'search')
        .clearing
    %script{:type => "text/javascript", :src => "https://apis.google.com/js/plusone.js"}
      :javascript
        {parsetags : "explicit" }
    #kudos
      = render :partial => "/home/kudos"

  #kudo_dashboard_bot
