- for kudo in @kudos
 - if params[:kudos] == "sent" || params[:kudos].blank? || params[:kudos] == "newsfeed"
  = render :partial => "kudos/sent_kudo",     :locals => {:kudo => kudo} if kudo.author && kudo.visible_for?(current_user)

 - elsif params[:kudos] == "received"
  = render :partial => "kudos/received_kudo", :locals => {:kudo => kudo} if kudo.author && if kudo.visible_for?(current_user)

 - elsif params[:kudos] == "local"
  = render :partial => "kudos/sent_kudo", :locals => {:kudo => kudo} if kudo.author && kudo.visible_for?(current_user)

#pagination
 - unless (@kudos.last_page? rescue false)
  - if params[:searchterms].blank?
   = spinner_tag
   = link_to("+ show more kudos", "javascript:void(0)", :class => "next_page")