- content_for(:title) { "OurKudos #{current_user}'s profile" }
- content_for(:meta_description, 'The site for sharing thanks, congratulations and Kudos with friends')
- content_for(:metaog_url, "#{request.url}")

#kudo_send_cont
  = image_tag('baltar_mailman_icon.png', :id => 'baltar_mailman_icon')
  #kudo_send_cont_top
  #kudo_send_cont_mid
    = render :partial => "kudos/form"
  #kudo_send_cont_bot
  %script{:type => "text/javascript", :src => "https://apis.google.com/js/plusone.js"}
    :javascript
      {parsetags : "explicit" }

#kudo_ecard_cont
  /= render :partial => 'attachments/cards'
%div{:class => 'clear'}

= render :partial => "home/dashboard"
