#header
  = render 'shared/registered_header'
  
#main_top
#main
  .wrapper-main
    = render 'shared/messaging'
    #kudo_send_cont
      = image_tag('baltar_mailman_icon.png',:id => 'baltar_mailman_icon')
      #kudo_send_cont_top
      #kudo_send_cont_mid
        = render :partial => "kudos/form"
      #kudo_send_cont_bot
    
    #kudo_dashboard_cont
      #kudo_dashboard_top
        %ul#nav_kudo_dashboard
          %li
            %h2= link_to('Sent','/')
          %li
            %h2= link_to('Received','/')
          %li
            %h2= link_to('Others','/')
            
      #kudo_dashboard_mid
      #kudo_dashboard_bot
      
  #footer
    = render 'shared/footer'