
- unless user_signed_in?
  %ul
    %li= link_to_unless(user_signed_in?, "SIGN IN", new_user_session_path)
    %li= link_to "SIGN UP", new_user_registration_path
  
  
- else
  %ul
    %li= link_to("SIGN OUT", destroy_user_session_path)
    %li= link_to "My account", user_path(current_user)
    %li= link_to t(:merge_with_my_other_account), new_merge_path
    %li= link_to t(:admin_area), admin_root_path

= render '/shared/social_links'
 