- content_for(:header) do
  = link_to image_tag('ourkudos_header_logo.png', :id => 'header-logo'), '/'
  = image_tag('header_motto_splash.png', :id => 'header-motto-splash')
  = link_to image_tag('sign_in_button.png', :id => 'sign-in-button'), new_user_session_path

- content_for(:main) do
  #main_top
  #main
    #col_left
      = link_to image_tag('new_to_ok_arrow.png', :id => 'new-to-ok-arrow'), '/'
      %h2
        It's fast, free and fun.
        %br/
        Send Kudos Today!
      %p= link_to image_tag('join_now_button.png'), new_user_registration_path
      %p= image_tag('kudos_hugging.png')
      %p= link_to image_tag('sign-in-facebook.gif'), omniauth_authorize_path(:user, 'facebook')
      %p= link_to image_tag('sign-in-with-twitter-d.png'), omniauth_authorize_path(:user, 'twitter')
    #col_right
      #recent_kudos_cont_top
        %h2 Recent Kudos
      #recent_kudos_cont
        .kudo_message_cont
          = image_tag('avatar_ben.jpg', :class=>'avatar')
          .kudo_message
            %p
              %span.sender John Doe
              %span.greater_than >
              %span.receiver Jane Brown
            %p This is static mockup content, it is not database driven. This is just to show the layout and design, this will all be replaced by content from the db sent to view partial(s) and view helper(s)
            .clearing
          
      #recent_kudos_cont_bot
    .clearing
  #main_bot