#col_left
  = link_to(image_tag('new_to_ok_arrow.png', :id => 'new-to-ok-arrow'), 'http://www.youtube.com/watch?v=ahHZFck-2ys', :class => "video_tour_link")
  %h2
    It's fast, free and fun.
    %br/
    Send Kudos Today!
  %p= link_to image_tag('join_now_button.png', :alt=>"Join Ourkudos now!"), new_user_registration_path unless sign_up_disabled?
  %p= image_tag('kudos_hugging.png')
  %p= link_to image_tag('sign-in-facebook.gif', :alt => "Connect with Facebook"), omniauth_authorize_path(:user, 'facebook')
#col_right
  = render :partial => "shared/messaging"
  #recent_kudos_cont_top
    %h2 Recent Kudos
  #recent_kudos_cont
    - for kudo in @kudos do
      = render :partial => "kudos/home_page_kudo", :locals => {:kudo => kudo}


  #recent_kudos_cont_bot
.clearing