#youve_got_kudos_cont
  #youve_got_kudos_top
  #youve_got_kudos_mid
    %h1 You've Got Kudos!
    .kudo_message_cont
      #kudo_sender_cont
        %p= image_tag('avatar_unknown.png', :class=>'avatar')
        %p= @kudo.kudo.author.to_s
      .kudo_message_bubble_cont
        .kudo_message_top
        .kudo_message_mid
          %p= @kudo.kudo.body
        .kudo_message_bot
      .clearing
    %h3
      "It's fast, free and fun! In just
      %span.blue_accent one minute
      you can be a member!"
      = link_to(image_tag('video_tour_btn.png'),'/')
      = link_to('join now placeholder',new_user_registration_path)

  #youve_got_kudos_bot

#invite_col_left
  %h2 Simple communication for a complex world
  = link_to(image_tag('video_tour_preview.png', :id => "video_tour_image_btn"),'http://www.youtube.com/watch?v=ahHZFck-2ys', :id => "video_tour_link")
  .kudo_message_cont
    = image_tag('avatar_unknown.png', :class=>'avatar')
    .kudo_message_bubble_cont
      .kudo_message_top
      .kudo_message_mid
        %p
          %span.sender John Doe
          %span.greater_than >
          %span.receiver Jane Brown
        %p This is static mockup content, it is not database driven. This is just to show the layout and design, this will all be replaced by content from the db sent to view partial(s) and view helper(s)
      .kudo_message_bot
    .clearing
    
  .kudo_message_cont
    = image_tag('avatar_unknown.png', :class=>'avatar')
    .kudo_message_bubble_cont
      .kudo_message_top
      .kudo_message_mid
        %p
          %span.sender John Doe
          %span.greater_than >
          %span.receiver Jane Brown
        %p This is static mockup content, it is not database driven. This is just to show the layout and design, this will all be replaced by content from the db sent to view partial(s) and view helper(s)
      .kudo_message_bot
    .clearing
      
#invite_col_right
  %h2 Messages that make you smile
  %ul.invite_list
    %li bullet point 1
    %li bullet point 2
    %li bullet point 3
  = image_tag('kudos_icon_hugging.png',:id=>'kudos_icon_hugging')
.clearing