#header
  = render 'shared/unregistered_header'

#main_top
#main
  #youve_got_kudos_cont
    #youve_got_kudos_top
    #youve_got_kudos_mid
      %h1 You've Got Kudos!
    #youve_got_kudos_bot
  
  #invite_col_left
    %h2 Simple communication for a complex world
    
    .kudo_message_cont
      = image_tag('avatar_ben.jpg', :class=>'avatar')
      .kudo_message_bubble_cont
        .kudo_message_top
        .kudo_message_mid
          %p
            %span.sender John Doe
            %span.greater_than >
            %span.receiver Jane Brown
          %p This is static mockup content, it is not database driven. This is just to show the layout and design, this will all be replaced by content from the db sent to view partial(s) and view helper(s)
        .kudo_message_bot
      .clearing
    
    .kudo_message_cont
      = image_tag('avatar_ben.jpg', :class=>'avatar')
      .kudo_message_bubble_cont
        .kudo_message_top
        .kudo_message_mid
          %p
            %span.sender John Doe
            %span.greater_than >
            %span.receiver Jane Brown
          %p This is static mockup content, it is not database driven. This is just to show the layout and design, this will all be replaced by content from the db sent to view partial(s) and view helper(s)
        .kudo_message_bot
      .clearing
    
    .kudo_message_cont
      = image_tag('avatar_ben.jpg', :class=>'avatar')
      .kudo_message_bubble_cont
        .kudo_message_top
        .kudo_message_mid
          %p
            %span.sender John Doe
            %span.greater_than >
            %span.receiver Jane Brown
          %p This is static mockup content, it is not database driven. This is just to show the layout and design, this will all be replaced by content from the db sent to view partial(s) and view helper(s)
        .kudo_message_bot
      .clearing
      
      
  #invite_col_right
    %h2 Messages that make you smile
  .clearing
  
  #footer
    = render 'shared/footer'