%h3= t :merge_your_accounts

#merge-account-form
 = form_for @merge do
    
  = error_messages_for @merge

  .field
   %p.explanation= t(:merge_explanation)

   = label_tag :enter_account_identity
   = text_field_tag :identity, '', :class => "string", :id => 'merge-account-autocomplete', :size => 30

   %span.explanation.small= t(:merge_type_to_search)

  %p= submit_tag t(:merge_my_current_account_with_this_account)


:javascript
  #{jquery_autocomplete('merge-account-autocomplete',"autocomplete/new?object=identities")}