%h2= t(:showing_your_contacts)

- if current_user.friendships.any?

  %h4= t(:my_contacts)
  %table.type1
    %thead
      %th= t :user_friend
      %th= 'Type'
      %th= t :contacts_count
      %th= t :last_contacted_at
    %tbody
      - for friendship in current_user.friendships do
        %tr
          %td= friendship.friendable.email rescue "(deleted)"
          %td= friendship.friendable_type
          %td= friendship.contacts_count.to_i
          %td= time_ago_in_words(friendship.last_contacted_at) + " #{t(:ago)}"

- if current_user.inverse_friends.any?

  %h4= t(:friended_by_users)
  %ul.type2
    - for user in current_user.inverse_friends do
      %li= user.email


%p= link_to('back to my account', current_user, :method => :get, :class => 'action_link')

