%h4= t(:add_profile_picture)
= form_for current_user, :url => user_profile_pictures_path(current_user), :method => :post do |f|

  = error_messages_for current_user

  %p= f.label :profile_picture

  %p= f.file_field :profile_picture

  %p= f.submit "Upload"