%h2= t(:change_display_account)
%p.note Choose an identity to display throughout the OurKudos system as your public identity.
= form_tag user_display_identity_path, :method => :put do
  %table.type1
    %th= t(:account_type)
    %th= t(:identity)
    %th= t(:display)
    - @identities.each do |identity|
      %tr
        %td= identity.identity_type
        %td= identity.identity
        %td
          = radio_button_tag "display_identity", identity.id, :checked => identity.display_identity?
  %p
    = submit_tag "Update"
    = link_to 'cancel', user_path(current_user), :class => 'action_link'