%h2 Change your password
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token

  = hidden_field_tag "user_id", @user_id unless @user_id.blank?         # for resending confirmation instructions from this screen
  %p
    = f.label :password, "Password (minimum of 6 characters, use at least one non-alphabet character)"
    %br/
    = f.password_field :password, :id => "change_user_password"
  .clearing
  %p
  %p
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  %p= f.submit "Change my password"
