%h4= t(:current_user_identities)

%table.600px
  %thead
    %th= t :identity_type
    %th= t :identity
  %tbody
    - for identity in @identities do
      %tr
        %td= identity.identity_type
        %td= identity.identity
        %td
          - if !identity.is_primary?
            = link_to t(:edit_identity_link), edit_user_identity_path(current_user, identity)
          - else
            = t(:cannot_edit_primary_identity)
        %td
          - if !identity.is_primary?
            = link_to(t(:remove_identity), user_identity_path(current_user, identity), :confirm => I18n.t(:are_you_sure), :method => :delete) if !identity.is_primary?
          - else
            = t(:cannot_remove_primary_identity)
