%h3= t(:my_user_names_and_accounts) unless admin_request?

%p.note= t :only_confirmed_accounts_are_valid

%table.type1
  %thead
    %th= t :type
    %th= t :account_name
    %th= t :confirmed
    %th edit
    %th remove
  %tbody
    - for identity in identities do
      %tr
        %td= identity.identity_type
        %td= identity.identity
        %td= identity.confirmation.confirmed.to_s rescue 'none'
        %td
          - if !identity.is_primary?
            = link_to t(:edit_account_link),  admin_or_user_edit_identity_path(@user, identity)
          - else
            = t(:cannot_edit_primary_account)
        %td
          - if !identity.is_primary?
            = link_to t(:remove_account),  admin_or_user_identity_path(@user, identity), :confirm => I18n.t(:are_you_sure), :method => :delete if !identity.is_primary?
          - else
            = t(:cannot_remove_primary_account)
