%h2= t :edit_identity

= form_for @identity, :url => user_identity_path(current_user), :method => :put do |f|
    
  = error_messages_for @identity

  = render :partial => "identities/form_fields", :locals => {:f => f}
  
  %p
    = f.submit t(:update_identity)
    = link_to 'cancel', user_path(current_user), :class => 'action_link'