//content_for :head do
= javascript_include_tag 'ckeditor/ckeditor.js'
= form_for merchant, :url => admin_gifting_merchants_path, :method => :post do |f|
  = error_messages_for merchant

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :homepage
    = f.text_field :homepage
  .field
    = f.label :affiliate_program_id, 'Affiliate Program'
    = f.collection_select(:affiliate_program_id, AffiliateProgram.all, :id, :name, {:include_blank => "select an affiliate program"})
  .field
    = f.label :affiliate_code, t(:affiliate_code)
    = f.text_field :affiliate_code
  .field
    = f.label :description
    = f.cktext_area :description, :width => '800px', :height => '200px'
    //= f.text_area :description, :width => '800px', :height => '200px'
  .actions
    = f.submit t(:create_merchant)

