#kudos-settings
  = form_for @social_sharing_enabled, :url => admin_setting_path(@social_sharing_enabled), :method => :put do |f|
    = label_tag "settings-social-sharing-enabled", "Social Sharing Enabled"
    = radio_button_tag "settings[value]", "no", (@social_sharing_enabled.value == "no" || @social_sharing_enabled.value.blank?)
    No
    = radio_button_tag "settings[value]", "yes", @social_sharing_enabled.value == "yes"
    Yes
    %br/
    = f.submit "Submit", :div => false