%p.authentication-field.field
  = f.label :provider
  %br/
  = f.select :provider, options_for_select(@user.my_options_for_providers, @authentication.provider)
   
%p.authentication-field.field
  = f.label :uid, t(:provider_uid)
  %br/
  = f.text_field :uid, :size => 35, :class => "string"
   
%p.authentication-field.field 
  = f.label :token, t(:provider_token)
  %br/
  = f.text_field :token, :size => 35, :class => "string"
   
%p.authentication-field.field
  %p.note= t(:provider_secret_explanation)
  =f.label :secret, t(:provider_secret)
   
  
  
   
  %br/
  = f.text_field :secret, :size => 35, :class => "string"

%p.authentication-field.field
  =f.label :nickname
  %br/
  = f.text_field :nickname, :size => 35, :class => "string"

