var popup_html  = '<%= escape_javascript render :partial => "kudo_flag_popup" %>';
var popup_box   = $("div.popup_placeholder#flag_popup_placeholder_<%= @kudo.id %>");
var kudo_id = <%= @kudo.id %>;


popup_box.html(popup_html).dialog({title: '<%= t(:kf_help_understand_message) %>', width: 446, modal: true, resizable: false, buttons: [{ text: "Flag this Kudo!", className: 'action_button', click: function(){$("form#new_kudo_flag").submit();} },{ text: "Cancel", className: 'cancel_link', click: function(){$(this).dialog("close");} } ]  });

$('div.ui-dialog').prepend('<div id="dialog-kudos-character" class="flagman"></div>');

$("div.popup_placeholder#flag_popup_placeholder_<%= @kudo.id %>").attr("data-kudo_id", kudo_id);
