= form_for @user, :url => admin_user_path, :method => :put do |f|

  = error_messages_for @user
  %fieldset
    %legend= t :user_demographics
  
    %p.user-field
      = @user.to_s
    
    %p.user-field
      = t :user_address
      = f.text_field :streetadress, :size => 10
      = f.text_field :city, :size => 10
      ,
      = f.text_field :state_or_province, :size => 10
      ,
      = f.text_field :postal_code, :size => 6
      %br/
  
    %p.user-field
      = t :user_phone
      = f.text_field :phone_number, :size => 12
    
    %p.user-field
      = t :user_mobile
      = f.text_field :mobile_number, :size => 12

    = f.submit t(:change_user_data)