%table.type1
  %thead
    %th= sortable "email", t(:user_email)
    %th= sortable 'last_name', t(:user_name)
    %th= sortable 'sign_in_count', t(:user_last_sign_in_at)
    %th= sortable 'email', t(:user_sign_in_count)
    %th= t :user_details
    %th= t :user_remove
    %th= t :admin_user_banned
  %tbody
    - for user in users do
      %tr
        %td= user.email
        %td= user.to_s
        %td= user.last_sign_in_at
        %td= user.sign_in_count
        %td= link_to 'edit', admin_user_path(user)
        %td= admin_user_remove_link user
        %td= render :partial => "admin/users/ban_form", :locals => {:user => user}