= form_for @user, :url => admin_user_path, :method => :put do |f|

  %fieldset
    %legend= t :user_roles
    %p= link_to t(:change_manage_roles), roles_admin_user_path(@user)

    - if @user.roles.any?
      %p= @user.render_roles
    - else
      %p= t(:no_roles_assigned)

    = f.submit t(:change_user_data)