= form_for @user, :url => admin_user_path, :method => :put do |f|

  = error_messages_for @user
  %fieldset
    %legend= t :user_demographics
  
    %p
      = @user.to_s
    
    %p
      = f.label :user_address
      %br/
      = f.text_field :streetadress, :size => 40
    %p
      = f.text_field :address2, :size => 30
    %p
      = f.label :city
      %br/
      = f.text_field :city, :size => 20
    %p
      = f.label :state_or_province
      %br/
      = f.text_field :state_or_province, :size => 30
    %p
      =f.label :postal_code
      %br/
      = f.text_field :postal_code, :size => 10
  
    %p
      = f.label :user_phone
      %br/
      = f.text_field :phone_number, :size => 20
    
    %p
      = f.label :user_mobile
      %br/
      = f.text_field :mobile_number, :size => 20
    %p
      = f.label :birthday
      %br/
      = f.date_select(:birthday, :start_year => 1910, :end_year => Time.now.year, :prompt => true)

    = f.submit t(:change_user_data)