%h3= t(:showing_user) + ' ' + @user.email


%fieldset
  %legend= t(:statistics)
  
  %p
    = t(:user_sign_in_count)
    %span.user_data= @user.sign_in_count
  
  %p
    = t(:user_member_since)
    %span.user_data= @user.created_at.strftime("%m/%d/%Y")

  %p
    = t(:user_last_sign_in_at)
    %span.user_data= @user.last_sign_in_at.strftime("%m/%d/%Y") rescue t(:never)
  
  %p
    = t(:user_last_ip)
    %span.user_data= @user.last_sign_in_ip

= render :partial => "admin/users/user_authentications"  
= render :partial => "admin/users/user_demographics"
= render :partial => "admin/users/user_roles"
= render :partial => "admin/users/user_identities"
= render :partial => "admin/users/user_invitations"
