!!!
%html
  %head
    %title OurKudos Site Administration
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" 
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'admin'
    = csrf_meta_tag
  %body{:id => "admin_#{controller_name}" }
    
    #mainarea
      #header
        = render 'shared/admin_header'
      #main_top
      #main
        .wrapper-main
          %h2 OurKudos System Administration
          = render :partial => "/admin/admin_links"
          = render :partial => "shared/messaging"
          = yield
        
