!!!
%html
  %head
    %title OurKudosMainSite
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %p.notice= notice
  %p.alert= alert
  %body
    = link_to_unless(user_signed_in?, "SIGN IN", new_user_session_path) do
      = link_to("SIGN OUT", destroy_user_session_path)
    = yield