!!!
%html
  %head
    %title
      = yield(:title) || "OurKudos"
    %meta{:property => 'og:title', :content => "#{yield(:metaog_title)}"}
    %meta{:content => "#{yield(:meta_description)}", :name => 'description'}
    %meta{:property => 'og:url', :content => "#{yield(:metaog_url)}"}
    %meta{:property => 'og:type', :content => "website"}
    %meta{:property => 'og:image', :content => 'http://rkudos.com/assets/baltar_mailman_icon.png'}
    //%meta{:property => 'og:site_name', :content => 'Our Kudos'}
    %meta{:property => 'og:site_name', :content => "#{yield(:metaog_title)}"}
    %meta{:property => 'og:description', :content => "#{yield(:meta_description)}"}
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" 
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'registered'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Copse'
    = csrf_meta_tag
    = javascript_include_tag "http://connect.facebook.net/en_US/all.js#xfbml=1"
  %body{:class => "#{controller_name}_#{action_name}"}
    #mainarea
      #header
        = render 'shared/registered_header'
      #main_top
      #main
        .wrapper-main
          = render :partial => "shared/messaging"
          = yield

        #footer
          = render 'shared/footer'
