!!!
%html
  %head
    %title
      = yield(:title) || "OurKudos"
    %meta{:property => 'og:title', :content => "#{yield(:metaog_title)}"}
    %meta{:content => "#{yield(:meta_description)}", :name => 'description'}
    %meta{:property => 'og:url', :content => "#{yield(:metaog_url)}"}
    %meta{:property => 'og:type', :content => "article"}
    %meta{:property => 'og:image', :content => (asset_path 'baltar_mailman_icon.png')}
    %meta{:property => 'og:site_name', :content => "Our Kudos"}
    %meta{:property => 'og:description', :content => "#{yield(:meta_description)}"}
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'registered'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Puritan:400,700,400italic,700italic'
    = csrf_meta_tag
    = javascript_include_tag "http://connect.facebook.net/en_US/all.js#xfbml=1"
  %body{:class => "#{controller_name}_#{action_name}"}
    #mainarea
      #header
        = render 'shared/registered_header'
        = render 'shared/big_spinner'
      #main_top
      #main
        .wrapper-main
          = render :partial => "shared/messaging"
          = yield

        #footer
          = render 'shared/footer'
