!!!
%html
  %head
    %title OurKudosMainSite
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'registered'
    = csrf_meta_tag
  %body
    %p.notice= notice
    %p.alert= alert
    #mainarea
      = yield
