!!!
%html
  %head
    %title OurKudosMainSite
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'registered'
    = csrf_meta_tag
  %body
    #mainarea
      #header
        = render 'shared/registered_header'
      #main_top
      #main
        .wrapper-main
          = yield

        #footer
          = render 'shared/footer'
