!!!
%html
  %head
    %title OurKudos
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" 
    = javascript_include_tag 'application-unregistered'
    = stylesheet_link_tag 'unregistered'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Copse'
    = javascript_include_tag "https://apis.google.com/js/plusone.js"
    = javascript_include_tag "http://connect.facebook.net/en_US/all.js#xfbml=1"
    = csrf_meta_tag
  %body
    #mainarea
      #header
        = render 'shared/unregistered_header'
      #main_top					 
      #main
        = yield
    										 
        #footer					 
          = render 'shared/footer'
