!!!
%html
  %head
    %title OurKudos
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'unregistered'
    = csrf_meta_tag
  %body
    #mainarea
      #header
        = render 'shared/unregistered_header'
      #main_top					 
      #main
        = render :partial => "shared/messaging"
        = yield				 
    										 
        #footer					 
          = render 'shared/footer'