!!!
%html
  %head
    %title
      = yield(:title) || "OurKudos"
    %meta{:name => 'description', :content => "#{yield(:meta_description)}"}
    %meta{:property => 'og:title', :content => "#{yield(:metaog_title)}"}
    %meta{:property => 'og:type', :content => "article"}
    %meta{:property => 'og:url', :content => "#{yield(:metaog_url)}"}
    %meta{:property => 'og:image', :content => absolute_image_url('header_motto_splash.png') }
    %meta{:property => 'og:image', :content => absolute_image_url('kudos_hugging.png') }
    %meta{:property => 'og:image', :content => absolute_image_url('baltar_mailman_icon.png') }
    %meta{:property => 'og:site_name', :content => 'Our Kudos'}
    %meta{:property => 'og:description', :content => "#{yield(:meta_description)}"}
     
    = javascript_include_tag 'application-unregistered'
    = stylesheet_link_tag 'unregistered'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Puritan:400,700,400italic,700italic'
    = javascript_include_tag "https://apis.google.com/js/plusone.js"
    = javascript_include_tag "http://connect.facebook.net/en_US/all.js#xfbml=1"
    = csrf_meta_tag
  %body{:class => "#{controller_name}_#{action_name}"}
    #mainarea
      #header
        = render 'shared/unregistered_header'
      #main_top					 
      #main
        .wrapper-main
          = yield

        #footer					 
          = render 'shared/footer'
